<div class="about_section" id="about_section">
            <p  style="font-size:2.5em; color:rgb(237, 93, 10)">About Us</p>
            <p>grow your business with us</p>
            <div class="about_content">
                <img src="Illustration-social-media-cartoon-flat-closeup-big-smartphone-Clipart-PNG-Photoroom.png" alt="" style="height: 400px; width:320px;">
                <div class="aboutcontent">
                    <p style="font-size: 2.9em;">WE ARE THE PROFESSIONAL</p>
                    <p style="font-size: 2.9em;">DEVELOPERS 👌</p>
                    <p style="margin-top: 10px;">Welcome to my world. Your number one source for all things. We are<br> dedicated to give you the very best of our work. With qa focus <br>on[Three Characteristics: i.e. Dependbility, Customer Services and Uniquesness.]</p>
                    <button class="decobutton">READ MORE</button>
                </div>
            </div>
</div>