<div class="decodiv">
            <div class="decocontent">
            <p style="font-size: 2.9em; text-shadow:3px 3px 8px grey">WE WILL HELP YOU TO</p>
            <p style="font-size: 3em;  color:rgb(44, 2, 133);text-shadow:3px 3px 8px grey; font-weight:500;">GROW YOUR BUSINESS</p>
            <p>WE ARE THE TEAM OF <span style="font-weight: 600;">PROFESSIONAL DEVELOPERS 👌</span></p>
            <button class="decobutton">READ MORE</button>
            </div>

            <img class="decoimg"src="man-riding-a-rocket-science-flat-art-render_43859_wh1200-Photoroom.png" alt="">
</div>