<header>
        <h1>Anshu Miglani</h1>
        <div class="header_anchor">
            <a href="/" >Home</a>
            <a href="#about_section" >About</a>
            <a href="#services" >Service</a>
            <a href="" >Gallery</a>
            <a href="#forms" >Contact</a>
        </div>
    </header>