    <div class="services" id="services">
            <p  style="font-size:2.5em; color:rgb(237, 93, 10)">Our Services</p>
            <p>grow your business with us</p>
            
        <div class="services_content">
            <div class="purecontent">
                <div class="icon" style="background-color: #0007e9;
background-image: linear-gradient(203deg, #0007e9 0%, #37beaf 88%);
"><i class="fa-solid fa-gear" style="color: white;"></i></div>
            <div id="Settings" class="services_div">
                <h1 style="font-size: 1.9em; margin-bottom:10px;">Settings</h1>
                <p style="font-size: 0.9em;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, accusamus?</p>
            </div></div>
            <div class="purecontent">
                <div class="icon" style="background: rgb(229,55,46);
background: linear-gradient(300deg, rgba(229,55,46,1) 75%, rgba(247,248,250,1) 98%);"><i class="fa-solid fa-gauge" style="color: white;"></i></div>
            <div id="Speedup" class="services_div">
                <h1 style="font-size: 1.9em; margin-bottom:10px;">Speedup</h1>
                <p style="font-size: 0.9em;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, accusamus?</p>
            </div></div>
            <div class="purecontent">
                <div class="icon" style="background: rgb(46,151,229);
background: linear-gradient(300deg, rgba(46,151,229,1) 28%, rgba(11,37,229,1) 63%);"><i class="fa-solid fa-shield-halved" style="color: white;"></i></div>
            <div id="Privacy" class="services_div">
                <h1 style="font-size: 1.9em; margin-bottom:10px;">Privacy</h1>
                <p style="font-size: 0.9em;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, accusamus?</p>
            </div></div>

        </div>

        <div class="services_content">
            <div class="purecontent">
                <div class="icon" style="background: rgb(229,104,46);
background: linear-gradient(300deg, rgba(229,104,46,1) 39%, rgba(237,156,57,1) 71%);"><i class="fa-brands fa-stack-overflow" style="color: white;"></i></div>
            <div id="Backup" class="services_div">
                <h1 style="font-size: 1.9em; margin-bottom:10px;">Backup</h1>
                <p style="font-size: 0.9em;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, accusamus?</p>
            </div></div>
            <div class="purecontent">
                <div class="icon" style="background: rgb(168,46,229);
background: linear-gradient(300deg, rgba(168,46,229,1) 26%, rgba(57,61,237,1) 59%);"><i class="fa-solid fa-lock" style="color: white;"></i></div>
            <div id="SSLSecured" class="services_div">
                <h1 style="font-size: 1.9em; margin-bottom:10px;">SSL Secured</h1>
                <p style="font-size: 0.9em;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, accusamus?</p>
            </div></div>
            <div class="purecontent">
                <div class="icon" style="
background: rgb(168,46,229);
background: linear-gradient(90deg, rgba(168,46,229,1) 0%, rgba(11,152,56,1) 0%);"><i class="fa-solid fa-database" style="color: white;"></i></div>
            <div id="Database" class="services_div">
                <h1 style="font-size: 1.9em; margin-bottom:10px;">Database</h1>
                <p style="font-size: 0.9em;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, accusamus?</p>
            </div></div>
        </div>
    </div>